<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script src="/javascripts/script.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>
    <main>
        <nav>
            <div id="logo"><img src="/images/logo.png" alt=""></div>
            <div class="bar">
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#projects">Education</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#contact-info">Contact</a></li>
                </ul>
            </div>
            <div class="hamburger-content">
                <div><a href="#about">About</a></div>
                <div><a href="#skills">Skills</a></div>
                <div><a href="#experience">Experience</a></div>
                <div><a href="#projects">Education</a></div>
                <div><a href="#education">Education</a></div>
                <div><a href="#contact-info">Contact</a></div>
            </div>
            <span class="hamburger-menu">&#9776;</span>
        </nav>
        <section id="hero">
            <div class="tag-line" style="align-self: flex-start;">
                Elevating Ideas through Code. Crafting Digital Excellence in <span class="text-gradient">Cloud, Web, and Games.</span>
                lets make Ideas a <span class="text-gradient">reality</span>
            </div>
            <div style="line-height: 1.3em;">
                <h2>
                Hello, World! I'm Aakash Aman, a passionate <span class="text-gradient">programmer</span> with 
                a love for crafting innovative solutions in the realms of <span class="text-gradient">Cloud Programming, 
                Web </span><span class="text-gradient">Development, and Game Development.</span> As a coding enthusiast, I embark on a journey to blend creativity 
                with functionality, turning ideas into seamless digital experiences.
            
                </h2>
            </div>
        </section>

        <section id="skills">
            <h2>Skills</h2>
            <p>
                Database Management System (DBMS) • Programming • Software Development • Problem Solving •
                Communication • PHP • Web Development • Front-End Development • Databases • SQL
            </p>
        </section>

        <section id="about">
            <div style="max-width: 80%; text-align: justify;">
                <p>
                    Hey there! I'm Aakash Aman, and I absolutely love making games and writing code.
                    I've got a background in creating 3D models, designing cool environments, and all that jazz – 
                    thanks to my time at Indic Arena and some freelance gigs. Right now, I'm a full-time 
                    computer programming student at St. Lawrence College in Canada, where I'm soaking up all the knowledge I can.
                </p>    
                    When I'm not buried in books, you can find me supervising part-time at Namaste Kingston 
                    restaurant. Yep, I've got the balancing act down!
                <p>   
                    I'm super excited to bring my skills to new opportunities in game development, web development, 
                    app development, and the world of AI and machine learning. Let's make some tech magic happen 
                    together!
                </p>
            </div>
        </section>

        <section id="projects">

        </section>
    
        <section id="experience">
            <div class="card">
                Work-School Balance: Efficiently manage both work and school commitments 
                through meticulous planning and effective time management, ensuring high productivity in both domains.
            </div>
            <div class="card">
                Communication Skills: Possess strong verbal and written communication skills, fostering clarity and understanding 
                in professional and academic environments. Capable of articulating ideas coherently in meetings and contributing 
                effectively to collaborative projects.
            </div>
            <div class="card">
                Customer Satisfaction: Approach tasks with a customer-centric mindset, anticipating and exceeding client needs. 
                Commitment to understanding requirements ensures the delivery of tailored solutions, building trust and fostering 
                long-term relationships.
            </div>
            <div class="card">
                Management Skills: Demonstrate strong organizational and leadership abilities in managing multiple responsibilities. 
                Efficiently coordinate tasks, lead teams with a collaborative spirit, and tackle challenges with a strategic mindset, 
                ensuring goals are met effectively.
            </div>
            <div class="card">
                Problem Solving: Excel in critical thinking and problem-solving, addressing challenges with a proactive and solution-oriented 
                approach. Adaptable and resourceful in navigating complex situations, consistently finding innovative solutions to 
                overcome obstacles.
            </div>
            <div class="card">
                In essence, I bring a dynamic combination of effective work-school balance, clear communication, customer-centricity, 
                robust management skills, and a proactive problem-solving approach to navigate and excel in diverse environments.
            </div>

        </section>
    
        <section id="education">
            <h2>Education</h2>
            <p>
                <strong>St. Lawrence College</strong><br>
                Computer Programming<br>
                2022 - 2025
            </p>
        </section>
    
    
        <section id="contact-info">
            <h2>Contact Information</h2>
            <p>
                Email: <a href="mailto:aakash.sona0701@gmail.com">aakash.sona0701@gmail.com</a><br>
                LinkedIn: <a href="https://www.linkedin.com/in/aakash-aman-36b7b2216" target="_blank"><img src="" alt=""></a>
            </p>
        </section>
    </main>

    <!-- fixed backgroung-->
    <div class="gradient-bg">
        <svg xmlns="http://www.w3.org/2000/svg">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
              <feBlend in="SourceGraphic" in2="goo" />
            </filter>
          </defs>
        </svg>
        <svg>
            <filter id="grain">
                <feTurbulence
                    type="fractalNoise"
                    baseFrequency="03"
                />
            </filter>
        </svg>
        <div class="gradients-container">
          <div class="g1"></div>
          <div class="g2"></div>
          <div class="g3"></div>
          <div class="g4"></div>
          <div class="g5"></div>
          <div class="interactive"></div>
        </div>
    </div>

  </body>
  </html>
  



